/* fontawesome */

@import "@fortawesome/fontawesome-free/css/all.css";

/* root with different colors */

 :root {
    --w: rgb(255, 255, 255);
    --b: rgb(23, 23, 23);
    --r: rgb(226, 65, 65);
    --middle: rgb(243, 216, 84);
    --middle1:rgb(241, 226, 151);
}

body {
    background-color: var(--b);
    color: var(--w);
    height: 100vh;
    width: 100vw;
} 

*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start tab section */
.container{
    max-width: 780px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.titlebar{
    font-size: 18px;
    
}

.titlebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlebar_item, h1, button{
    margin-top: 10px;
    margin-bottom: 10px;
}


.list_header{
    font-size: 18px;
    font-weight: 500;
}

.list_header{
    display: grid;
    gap: 10px;
    grid-template-columns: 50px 1fr 120px 120px 120px;
    color: var(--b);
    border-bottom: 1px solid var(--middle);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:20px;
    background-color: var(--middle);
}

.list_items{
    padding: 10px 30px !important;
    gap: 10px;
    display: grid;
    grid-template-columns: 50px 1fr 120px 120px 120px;
    align-items: center;
    border-bottom: 1px solid var(--middle1);
    color: var(--b);
    background-color: var(--middle1);

}

/* end tab section */

/* start btn section */

.btn{
    border: 1px solid var(--w);
    padding: 9px 15px;
    border-radius: 4px;
    background-color: var(--middle);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--middle1);
    color: var(--b);
}

.btn-icon{
    border: 1px solid;
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer; 

}

.success{
    color: var(--w);
    background-color: var(--middle);
}

.success:hover{
    background-color: var(--b);
    color: var(--middle);
}

.danger{
    color: var(--w);
    background-color: var(--middle);
}

.danger:hover{
    background-color: var(--r);
    color: var(--w);
}

/* end btn section */

.title_card{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* card section */
.card_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:20px;
    color: var(--b);
    background-color: var(--middle1);
    margin-top:20px;
    align-items: center;
    border-radius: 5px;
    

}   

.card{
    padding-left: 20px;
    padding-right: 20px;
    background: var(--middle1);
}

/* card + h5 */

.card,h5{
    margin-top: 10px;
    margin-bottom:10px;
}

.card, input{
    padding: 9px 15px;
    border: 1px solid var(--w);
    border-radius: 3px;
    width: 100%;
}

.card, textarea{
    padding: 9px 15px;
    border:1px solid var(--middle1);
    border-radius: 3px;
    width:100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn_item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.level_title{
    margin: 10px 0px;
}

.icon_task{
    margin-left: 15px;
    margin-top: 5px;
}