/* :root {
    --w: rgb(255, 255, 255);
    --b: rgb(23, 23, 23);
    --middle: rgb(243, 216, 84);
}

body {
    background-color: var(--b);
    color: var(--w);
    height: 100vh;
    width: 100vw;
}

*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.title{
    font-size: 40px;
    font-weight: 600;
    text-shadow: 3px 3px 5px ;
    text-decoration: underline;
}

.todo-list{
    width: 450px;
    padding: 20px;
    box-shadow: 0 5px 25px var(--w);
    border-radius: 6px;

}

 .list-head{
    display:grid;
    grid-template-columns: 4fr 1fr;
    gap:10px;
} 

.entered-list{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--w);
    font-size: 15px;
}

.add-list{
    border: 5px;
    border-radius: 5px;
    background-color: var(--middle);
    font-size: 15px;
    color: var(--b);

    
}


.item h4{
    font-size: 18px;
    font-weight: 500;
    color: var(--w);
}

.item-btn i{
    color: var(--middle);
    
    font-size: 18px;
}

.item h4{
    text-decoration: line-through;
    color:var(--b);
} */